*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body{
    background-color: darkgrey;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.header{
    position: sticky;
    top: 0px;
    z-index: 100;
    background-color: rgb(136, 136, 136);
    
}
.navigation{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
}
.navlist{
    display: none;
}
.navlist a li{
    list-style: none;
    font-size: 1rem;
    padding: 5px;
}
a:hover{
    cursor: pointer;
    color: whitesmoke;
}
a{
    text-decoration: none;
    color: initial; 
}

.headingtext{
    font-size: 2rem;
}
.menubar{
    width: 30px;
    height: 30px;
    position:absolute;
    top: 7px;
    right: 5px;
    cursor: pointer;
}
.showhide{
    display: block;
}
.intro{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.intro_img_div{
    width: 300px;
    height: 300px;
    border-radius: 300px;
}
.intro_img{
    width: 300px;
    height: 300px;
    border-radius: 300px;
    align-self: center;
    animation-name: float;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes float {
    0%{
        transform: translate(0);
    }
    50%{
        transform: translateY(-1.5rem);
    }
    100%{
        transform: translateY(0);
    }
}
.intro_text{
    /* margin-left: 5px; */
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    animation-name: ani1;
    animation-duration: 0.4s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    
}

.myname{
    background: linear-gradient(rgb(0, 183, 255),rgb(254, 1, 1));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.intro_desc{
    font-weight: 500;
    width: 300px;
    margin-bottom: 20px;
}
.about{
    padding-top: 40px;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.about h1{
    margin-top: 20px;
}
.about_img{
    width: 300px;
    height: 300px;
    border: 3px solid gold;
    
}
.about_text{
    width: 300px;
    margin-bottom: 20px;
}
.skills{
    padding-top: 60px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 30px;
    gap: 55px;
}
.skills h1{
    display: block;
    width: 100%;
    text-align: center;
}
.skill{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
}
.skill_img{
    width: 60px;
    height: 60px;
    padding: 20px;
}
.projects{
    padding: 40px;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.projects h1{
    margin-top: 20px;
}
.project1{
    display: flex;
    flex-direction: column;
    width: 80%;
    border-radius: 20px;
    align-items: center;  

}
.project1 img{
    width: 100%;
    height: 80%;
    background-size: cover;
    border-radius: 12px;
}
.project1:hover{
    transition-duration: 0.5s;
    transition-timing-function: linear;
    transition-property: all;
    transform: scale(1.1);
}
.project_desc{
    width: 100%;
    display: flex;
    flex-direction: row;  
    justify-content: space-between;
    align-items: center;
    filter: blur(0.5px);
    background-color: darkgray;
    border-radius: 12px;
}
.project_desc img{
    padding: 10px;
    width: 40px;
    height: 40px;
    background-size: cover;
}
.project_desc h2{
    
}
.resume{ 
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.resume h1{
    margin-top: 20px;
    text-align: center;
}
.download_res{
    padding: 10px;
    background-color: lightgrey;
    border-radius: 25px;
    box-shadow: 10px lightgray;
    margin-bottom: 20px;
    
}
.contact{
    padding-top: 40px;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.contact div{
    width: 80%;
}
.contact_form input{
    width: 40%;
    height: 40px;
    border: none;
    background: transparent;
    border-bottom: 1px solid black;
    padding: 5px;
}
.contact_form textarea{
    width:86%;
    background: transparent;
    padding: 2px;
    height: 80px;
}
.contact_form button{
    width: 40%;
    background: transparent;
    border-radius: 25px;
    padding: 10px;
    cursor: pointer;
}
.contact_form button:hover{
    color: white;
}
.contact_form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:10px;
}
.contact_form input:focus{
    border: 1px solid black;
    border-radius: 25px;
    outline: none;
}
.contact_form textarea:focus{
    border: 1px solid black;
    outline: none;
}
.contact_links{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.contact_img{
    width: 40px;
    height: 40px;
    border-radius: 25px;
    background: transparent;
    transition: transform 0.3s ease;
}
.contact_img:hover{
    transform: scale(1.1);
}
.footer{
    background-color: darkgray;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.footer h4:hover{
    color: white;
}
@keyframes  ani1 {
    from{
        transform: translateX(-1000px);
    }
    to{
        transform: translateX(0);
    }
    
}
